# Versiyon kontrol sistemi dosyaları
.git
.gitignore

# Node modülleri
node_modules

# Log dosyaları
npm-debug.log
yarn-debug.log
yarn-error.log

# Geliştirme ve IDE dosyaları
.vscode
.idea
*.swp
*.swo

# Derleme çıktıları
.nuxt
dist

# Ortam değişkenleri
.env
.env.*

# Sistem dosyaları
.DS_Store
Thumbs.db

# Test dosyaları
test
__tests__
coverage

# Diğer gereksiz dosyalar
README.md
LICENSE
*.md

